footer{
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 5vh;
}

h3 {
    font-size: 30px;
    font-family: monospace;
    padding-top: 10px;
}

a{
    margin-right: 5px;
    padding: 5px;
    color:white;
}